*{
    font-family: 'Roboto Condensed', sans-serif;
}

/* generales contenedores--------------------------------------------------------------------------------------------------------------*/

.container{
    padding-top: 25px;
}

footer{
    background-color: black;
    color:white;
    padding: 15px 10px 5px 10px;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

body{
    background-color: black;
}

/* cabezal y menú ------------------------------------------------------------------------------------------------------------------------*/

header{
    box-shadow: 0 0 35px black;
}

.bg-dark{
    background-color: rgba(0, 0, 0, 0.9) !important;
}

.navbar-toggler:focus{
    outline-color: grey;
}

/* texto ------------------------------------------------------------------------------------------------------------------------*/
h1, h2{
    font-weight: 900;
    color: white;
    text-align: center;
}

p{
    color: white;
    text-align: center;
}

h1{
    font-size: 4rem; 
}


.sect2 h2{
    color: white;
    text-align: center;
}

.sect2 p{
    padding-top: 20px;
    text-align: justify;
}

.sect3 h2{
    margin-top: 40px;
}

/* botones ------------------------------------------------------------------------------------------------------------------------*/


.btn, .btn.inverse:hover{color:#FFFFFF; background-color:#00bbbe; border-color:#04DEE0;}

.btn:hover, .btn.inverse{color:inherit; background-color:transparent; border-color:inherit;}


/* home ------------------------------------------------------------------------------------------------------------------------*/

.sect1{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/kyoto.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    color: white;
}

.articulo{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 15%;
    padding-bottom: 10%;
}

.sect2{
    color: white;
    padding-bottom: 10%;
    padding-left: 15%;
    padding-right: 15%;
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url(../img/sectionbackground.jpg) no-repeat center center;
    background-size: cover;
    box-shadow: 0 0 35px black;
}

.sect3{
    padding-top: 40px;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/japan.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    color: white;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 20%;
    padding-bottom: 10%;    
}

.sect4{
    padding-top: 20px;
    padding-left: 15%;
    padding-right: 15%;
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url(../img/sectionbackground.jpg) no-repeat center center;
    background-size: cover;
    box-shadow: 0 0 35px black;
}

.sect4 h4{
    padding-bottom: 30px;
}

.icon{
    height: 100px;
    margin-bottom: 15px;
    margin-left: 60px;
}

.icon h4 p{
    display: block;
}

#recomendados{
    padding-bottom: 70px;
}


/*contacto-----------------------------------------------------------------------------------------------------------------*/
:focus{
    outline:0;
}

input{
    padding: 5px;
    border:0;
    border-bottom: 3px solid #79E4DA;
    width: 44%;
}

fieldset{
margin: 40px 0 0 0;
border:0;
}

legend{
    margin-bottom: 10px;
}

input[type=radio]{
    padding: 0;
    margin-right: 5px;
    width: auto;
}

input[type=radio] + label{
    margin-right: 20px;
}

input:focus, textarea:focus{
        border-bottom-color: #FEDE91;
        border-bottom-width:2px;
}

textarea{
    resize: none;
    padding: 5px;
    border:0;
    border: 3px solid #79E4DA;
    display: block;
    margin-top: 40px;
    box-sizing: border-box;
    height: 200px;
    width: 100%;
}